{% extends 'base.html.twig' %}

{% block title %} Student List {% endblock %}

{% block body %}
<div class="container">
   <h4 class="text-primary text-center">Student List</h4>
   <a class="btn btn-outline-primary" href="{{ path('student_add') }}">ADD Student</a>
   <table class="table table-striped text-center">
      <thead>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
      {% for s in students %}
          <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.name }}</td>
            <td>
               <a class="btn btn-info" href="{{ path('student_detail', {'id' : s.id }) }}">DETAIL</a>
               <a class="btn btn-primary" href="{{ path('student_edit', {'id': s.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('student_delete', {'id': s.id }) }}"
               onclick="return confirm('Are you sure to delete this author ?')">
               DELETE</a>
            </td>
         </tr>
      {% endfor %}     
      </tbody>
   </table>
</div>
{% endblock %}